<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet2BD.Properties.Settings.BD5B6TP2_BrodeurKoumaConnectionString"
            connectionString="Data Source=sqlinfo.cgodin.qc.ca;Initial Catalog=BD5B6TP2_BrodeurKouma;Persist Security Info=True;User ID=5B6Kouma;Password=1PetitDioulaBanchi"
            providerName="System.Data.SqlClient" />
        <add name="Projet2BD.Properties.Settings.BD5B6TP2_BrodeurKoumaConnectionString1"
            connectionString="Data Source=sqlinfo.cgodin.qc.ca;Initial Catalog=BD5B6TP2_BrodeurKouma;Persist Security Info=True;User ID=5B6Brodeur;Password=C1h2a3t4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>